#showroom{
    height: 44px;
    transition: height 0.3s ease-in-out;
    /* overflow: hidden; */
}
#submenu_showrooms a:hover{
    /* transform: translatey(-100px); */
    background-color: rgba(110, 110, 110, 0.336) !important;
    color:red !important;
}
#showroom.open  {
    height: 125px;
    /* transform:translatey(0px); */
}

#icon{
    transform-origin: center; /* Set rotation origin to center */
    transition: transform 1s ease; /* Slow down the transition duration */

}
.rotate{
    rotate:-180deg !important;
}
.active{
    
    background: red;
}